*.pyc
*.map
*.dblite
*.elf
*.bin
*.axf
*.exe
*.pdb
*.idb
*.lst
*.obj
*.iex
*.plg
*.lnp
*.ilk
*.m51
*.hex
*.pdf
*.bak
*.db
*.i
*.doc
*.docx
*.uvproj
*.uvopt
*.think
*.Administrator
*.KISSMonX
build
*~
/Swords/*.Administrator
/output/Swords
