*.pyc
*.map
*.dblite
*.elf
*.bin
*.axf
*.exe
*.pdb
*.idb
*.lst
*.o
*.crf
*.d
*._i
*.obj
*.iex
*.plg
*.lnp
*.ilk
*.m51
*.hex
*.pdf
*.bak
*.db
*.i
*.doc
*.docx
*.uvproj
*.uvopt
*.think
*.Administrator
*.KISSMonX
*.uvoptx
*.uvprojx
*.dep
*.htm*

build
*~